@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff; /* Light background */
    --foreground: #000000; /* Dark text */
    --card: #ffffff;
    --heading: #000000;
    --paragraph: #444444;
    --card-foreground: #000000;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --primary: #1c1f24;
    --primary-foreground: #f1f5f9;
    --secondary: #ebebeb;
    --secondary-foreground: #1c1f24;
    --muted: #ebebeb;
    --muted-foreground: #737373;
    --accent: #ebebeb;
    --accent-foreground: #1c1f24;
    --destructive: #d50000;
    --destructive-foreground: #ffffff;
    --border: hsl(0, 0%, 89.8%);
    --input: #e6e6e6;
    --ring: #1a1a1a;
    --chart-1: #ff7300;
    --chart-2: #009688;
    --chart-3: #0d47a1;
    --chart-4: #ffeb3b;
    --chart-5: #ff9800;
    --radius: 0.5rem;
    --borderColor: rgba(79, 209, 197, 0.2);
    --gradientBackground: linear-gradient(
      90deg, 
      rgba(117, 147, 245, 0.5) 0%,
      rgba(9, 9, 11, 1) 100%       
    );
    --card-bg-gradient: radial-gradient(
      50.12% 50.12% at 50.12% 0%, 
      rgba(117, 147, 245, 0.5) 0%, 
      rgba(0, 0, 0, 0) 100%
    );
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #09090b; /* Dark background */
      --foreground: #f1f5f9; /* Light text */
      --card: #1a1a1a; /* Dark card background */
      --heading: #ffffff;
      --paragraph: #a1a1aa;
      --card-foreground: #f1f5f9;
      --popover: #1a1a1a;
      --popover-foreground: #f1f5f9;
      --primary: #f1f5f9;
      --primary-foreground: #1c1f24;
      --secondary: #2a2a2a;
      --secondary-foreground: #f1f5f9;
      --muted: #2a2a2a;
      --muted-foreground: #a3a3a3;
      --accent: #2a2a2a;
      --accent-foreground: #f1f5f9;
      --destructive: #990000;
      --destructive-foreground: #f1f5f9;
      --border: hsl(0, 0%, 89.8%);
      --input: #2a2a2a;
      --ring: #f1f5f9;
      --chart-1: #448aff;
      --chart-2: #4caf50;
      --chart-3: #ff9800;
      --chart-4: #673ab7;
      --chart-5: #e91e63;
      --borderColor: rgba(79, 209, 197, 0.2);
      --gradient-radial: radial-gradient(
        50.12% 50.12% at 50.12% 0%,
        rgba(117, 147, 245, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      --gradient-background: linear-gradient(
        180deg,
        rgba(17, 24, 39, 0.95),
        rgba(17, 24, 39, 0.98),
        rgba(0, 0, 0, 0.99)
      );
      --gradientBackground: linear-gradient(
        90deg, 
        rgba(117, 147, 245, 0.8) 0%, 
        rgba(0, 0, 0, 1) 100%       
      );
      --card-bg-gradient: radial-gradient(
        50.12% 50.12% at 50.12% 0%, 
        rgba(0, 0, 0, 0.7) 0%, 
        rgba(0, 0, 0, 0.9) 100%
      );
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  @apply px-2 md:px-28 lg:px-16;
}

.nav-wrapper {
  @apply px-4 md:px-24 lg:px-28;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-hero-gradient text-heading   transition-colors duration-200;
  }
  input,
  textarea,
  label,
  select,
  option,
  button {
    @apply dark:text-white text-black;
  }
}



